

.charts-container {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1260px;
}


.chart-container {
 width: 100%;
  max-width: 320px;
  // might have changed
  min-width: 310px;
  height: 250px;
  margin-bottom: 10rem;
}

.chart-container:nth-child(1) {
   margin-top: 0;
}


.chart-heading {
 text-transform: capitalize; 
}

.chart {
  border-bottom: 1px solid black;
  width: 70%;
  float:right;
  height: 100%;
  position: relative;
}
.skill-level {
  float:left;
  width: 30%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

.skill-level h4 {
  margin-top: 40px;
  font-variant: small-caps;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.skill-level h4:nth-child(1) {

 
}
.skill-level h4:nth-child(2) {

}
.skill-level h4:nth-child(3) {

}
.skill-level h4:nth-child(4) {

}



/* .chart-skill__heading {
  position: relative;
  top: 20px;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
}
 */
.bar {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: blue;
  display: inline-block;
  margin-left: 5px;
  position: absolute;
  bottom: 0px;
}


.bar-1 {
  left: 5%;
}


.bar-2 {
  left: 25%;
}


.bar-3 {
  left: 45%;
}

.bar-4 {
  left: 65%;
}
.bar-5 {
  left: 85%;
}

// // bar category
// .chart-1 .bar-1:after  {
//     content: 'JavaScript';
//   } 
// .chart-1 .bar-2:after  {
//     content: 'HTML/CSS';
//   }
// .chart-1 .bar-3:after  {
//     content: 'ReactJS';
//     left: 5px;
//   } 
// .chart-1 .bar-4:after  {
//     content: 'Webpack';
//   } 
// .chart-1 .bar-5:after  {
//     content: 'JQuery';
//   } 

// 2nd chart graph

// .chart-2 .bar-1:after  {
//     content: 'NodeJS';
//   } 
// .chart-2 .bar-2:after  {
//     content: 'GoLang';
//   }
// .chart-2 .bar-3:after  {
//     content: 'MonggoDB';

//   } 
// .chart-2 .bar-4:after  {
//     content: 'Ruby';
//     left: 10px;
//   } 
// .chart-2 .bar-5:after  {
//     content: 'MySQL';
//   } 







.bar-learning {
  height: 40px;
}

.bar-expert {
  height: 250px;
}

.bar-competent {
  height: 120px;
}

.bar-proficient {
  height: 180px;
}



.chart hr:nth-child(1) {
  top: 25px;
}

.chart hr:nth-child(2) {
  top: 50px;
}


.chart  hr:nth-child(3) {
  top: 75px;
}

.chart hr:nth-child(4) {
  top:100px;
}

.chart hr:nth-child(5) {
  top:125px;
}

.chart hr:nth-child(6) {
  top:150px;
}

.chart hr:nth-child(7) {
  top:175px;
}



.percentage-bar {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 1260px;
  height: 50px;

}

.front-end__bar,
.back-end__bar {
  height: 50px;
  text-transform: capitalize;
  font-size: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-end__bar {
  float: left;
  width: 70%;
  background-color: blue;
  &:before {
    content: 'front-end';
  }
}

.back-end__bar {
 float: right;
 background-color: green;
 width: 30%;
 &:before {
    content: 'back-end';
  }
}


.bar:hover   .tool-tip {
   opacity: 1;
}




.tool-tip {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  width: 100px;
  max-width: 100px;
  height: 50px;
  background: red;
  position: absolute;
  top: -4.25em;
  left: -1.5em;
  border-radius: 20px;
  transition: opacity .3s ease-in-out;
  &:after {
    content: ''; 
   width: 0; 
	height: 0; 
	border-left: 10px solid transparent;  
	border-right: 10px solid transparent; 
	border-top: 15px solid red; 
	font-size: 0;
	line-height: 0;
    position: absolute;
    bottom: -14px;
    left: 20px;
  }
}


.tip-1-1 {
  position: absolute;
  width: 100px;
}



.category-1,.category-2,.category-3,.category-4,.category-5{
  position: absolute;
  bottom: -42px;
  transform: rotate(90deg);
}

.category-1 {
  left: -1px;
}

.category-2 {
  left: 40px;
}

.category-3 {
  left: 75px;
  bottom: -50px;
}

.category-4 {
  left: 130px;
}

.category-5 {
  left: 165px;
}

.chart-1 .category-1 {
  left: -15px;
  bottom: -53px;
}


.chart-1 .category-3 {
  left: 90px;
  bottom: -38px;
}

.chart-1 .category-4 {
  left: 124px;
  bottom: -44px;
}

.chart-1 .category-5 {
  left: 170px
}

// .chart-2 .category-3 {
//   left: 1px;
//   bottom: -45px;
// }

// .chart-2 .category-4 {
//   left: 165px;
//  }







@media (min-width: 380px) {

.chart-container {
  margin-left: 1em;
}

.category-1,.category-2,.category-3,.category-4,.category-5{
  position: absolute;
  bottom: -42px;
  transform: rotate(60deg);
}



.chart-1 .category-1 {
  left: 5px;
  bottom: -53px;
}


.chart-1 .category-3 {
  left: 110px;
  bottom: -38px;
}

.chart-1 .category-4 {
  left: 155px;
  bottom: -44px;
}

.chart-1 .category-5 {
  left: 200px
}



.category-1{
  left: 5px;
}

.category-2 {
  left: 60px;
}

.category-3 {
  left: 110px;
}

.category-4 {
  left: 155px;
}

.category-5 {
  left: 200px;
}


.chart-1 .category-3 {
  left: 110px;
  bottom: -40px;
}

.chart-2 .category-3 {
  left: 105px;
  bottom: -50px;
}

.chart-2 .category-4 {
  left: 165px;
 }




}



